@model ProductsData
@{
    ViewData["Title"] = "Menu - CoffeeZhen";
}


<div class="container-fluid mt-3">
    <div class="d-flex justify-content-around" id="top-container">
        <div class="d-flex align-items-center">
            <a class="contact-link" href="https://www.instagram.com/coffeegene.ft?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                <i class="fab fa-instagram" style="font-size: 1.4rem; padding-top: 0.365rem;"></i>
            </a>
        </div>
        <div class="d-flex align-items-center">
            <img src="~/data/improved-removebg-preview.png" style="height: 28px; aspect-ratio=1/1; font-size: 1.5rem;"/>
        </div>
    </div>
    <nav class="nav nav-pills nav-fill scroll-section mb-3">
        <div class="btn nav-toggler d-flex flex-column nav-item align-items-center"
        role="button"
        data-bs-toggle="collapse"
        data-bs-target="#coffee"
        id="coffeeBtn">
            <i class="fas fa-coffee"></i>
            <span class="d-sm-inline">قهوه</span>
        </div>
        <div class="btn nav-toggler d-flex flex-column nav-item align-items-center"
        role="button"
        data-bs-toggle="collapse"
        data-bs-target="#hotDrinks">
            <i class="fas fa-mug-hot"></i>
            <span class="d-sm-inline">گرم نوش</span>
        </div>
        <div class="btn nav-toggler d-flex flex-column nav-item align-items-center"
        role="button"
        data-bs-toggle="collapse"
        data-bs-target="#exirs">
            <i class="fas fa-leaf"></i>
            <span class="d-sm-inline">دمنوش</span>
        </div>
        <div class="btn nav-toggler d-flex flex-column nav-item align-items-center"
        role="button"
        data-bs-toggle="collapse"
        data-bs-target="#snacks">
            <i class="fas fa-cookie"></i>
            <span class="d-sm-inline">میان وعده</span>
        </div>
        <div class="btn nav-toggler d-flex flex-column nav-item align-items-center"
        role="button"
        data-bs-toggle="collapse"
        data-bs-target="#shakesAndIceCreams">
            <i class="fas fa-ice-cream"></i>
            <span class="d-sm-inline">شیک و بستنی</span>
        </div>
        <div class="btn nav-toggler d-flex flex-column nav-item align-items-center"
        role="button"
        data-bs-toggle="collapse"
        data-bs-target="#mocktales">
            <i class="fas fa-cocktail"></i>
            <span class="d-sm-inline">ماکتل</span>
        </div>
        <div class="btn nav-toggler d-flex flex-column nav-item align-items-center"
        role="button"
        data-bs-toggle="collapse"
        data-bs-target="#punches">
            <i class="fas fa-wine-glass-alt"></i>
            <span class="d-sm-inline">پانچ</span>
        </div>
        <div class="btn nav-toggler d-flex flex-column nav-item align-items-center"
        role="button"
        data-bs-toggle="collapse"
        data-bs-target="#smothies">
            <i class="fas fa-blender"></i>
            <span class="d-sm-inline">اسموتی</span>
        </div>
    </nav>
    <div class="collapse" id="coffee">
        @foreach (var item in Model.Coffees) {
            <div class="card mb-3">
                <div class="row" style="width: 100%; margin: auto;">
                    <div class="col-7 col-md-9" style="position: relative">
                        <div class="card-body">
                            <div class="d-flex flex-column item-price">
                                <h6 class="card-title">@item.Name</h6>
                                <h6 class="card-title">@item.Price</h6>
                                @if (!string.IsNullOrEmpty(item.SecondPrice))
                                {
                                    <h6 class="card-title">@item.SecondPrice</h6>
                                }
                                @if (!string.IsNullOrEmpty(item.Description))
                                {
                                    <h6 class="card-title desc-container pb-2 px-0" style="font-size: 0.8rem">@item.Description</h6>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-5 col-md-3 image-container">
                        <img src="https://tse4.mm.bing.net/th?id=OIG2.UPHt2djgtahPZRLMAK26&pid=ImgGn" class="img-fluid rounded-start" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="collapse" id="hotDrinks">
        @foreach (var item in Model.HotDrinks)
        {
            <div class="card mb-3">
                <div class="row" style="width: 100%; margin: auto;">
                    <div class="col-7 col-md-9">
                        <div class="card-body">
                            <div class="d-flex flex-column justify-content-between item-price">
                                <h6 class="card-title">@item.Name</h6>
                                <h6 class="card-title">@item.Price</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 col-md-3 image-container">
                        <img src="https://tse4.mm.bing.net/th?id=OIG2.UPHt2djgtahPZRLMAK26&pid=ImgGn" class="img-fluid rounded-start" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="collapse" id="exirs">
        @foreach (var item in Model.Exirs)
        {
            <div class="card mb-3">
                <div class="row g-0" style="width: 100%; margin: auto;">
                    <div class="col-7 col-md-9" style="position: relative">
                        <div class="card-body">
                            <div class="d-flex flex-column justify-content-between item-price">
                                <h6 class="card-title">@item.Name</h6>
                                <h6 class="card-title">@item.Price</h6>
                                @if (!string.IsNullOrEmpty(item.Description))
                                {
                                    <h6 class="card-title desc-container pb-2 px-0" style="font-size: 0.8rem;">@item.Description</h6>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-5 col-md-3 image-container">
                        <img src="https://tse4.mm.bing.net/th?id=OIG2.UPHt2djgtahPZRLMAK26&pid=ImgGn" class="img-fluid rounded-start" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="collapse" id="snacks">
        @foreach (var item in Model.Snacks)
        {
            <div class="card mb-3">
                <div class="row g-0" style="width: 100%; margin: auto;">
                    <div class="col-7 col-md-9" style="position: relative">
                        <div class="card-body">
                            <div class="d-flex flex-column justify-content-between item-price">
                                <h6 class="card-title">@item.Name</h6>
                                <h6 class="card-title">@item.Price</h6>
                                @if (!string.IsNullOrEmpty(item.Description))
                                {
                                    <h6 class="desc-container pb-2 px-0" style="font-size: 0.8rem">@item.Description</h6>
                                }
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-5 col-md-3 image-container">
                        <img src="https://tse4.mm.bing.net/th?id=OIG2.UPHt2djgtahPZRLMAK26&pid=ImgGn" class="img-fluid rounded-start" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="collapse" id="shakesAndIceCreams">
        @foreach (var item in Model.ShakesAndIceCreams)
        {
            <div class="card mb-3">
                <div class="row g-0" style="width: 100%; margin: auto;">
                    <div class="col-7 col-md-9" style="position: relative;">
                        <div class="card-body">
                            <div class="d-flex flex-column justify-content-between item-price" style="padding-left: 0;">
                                <h6 class="card-title" style="flex-wrap: nowrap; font-size: 0.94rem;">@item.Name</h6>
                                <h6 class="card-title">@item.Price</h6>
                                @if (!string.IsNullOrEmpty(item.Description))
                                {
                                    <h6 class="desc-container pb-2 px-0" style="font-size: 0.8rem">@item.Description</h6>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-5 col-md-3 image-container">
                        <img src="https://tse4.mm.bing.net/th?id=OIG2.UPHt2djgtahPZRLMAK26&pid=ImgGn" class="img-fluid rounded-start" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="collapse" id="mocktales">
        @foreach (var item in Model.Mocktales)
        {
            <div class="card mb-3">
                <div class="row g-0" style="width: 100%; margin: auto;">
                    <div class="col-7 col-md-9" style="position: relative">
                        <div class="card-body">
                            <div class="d-flex flex-column justify-content-between item-price">
                                <h6 class="card-title">@item.Name</h6>
                                <h6 class="card-title">@item.Price</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 col-md-3 image-container">
                        <img src="https://tse4.mm.bing.net/th?id=OIG2.UPHt2djgtahPZRLMAK26&pid=ImgGn" class="img-fluid rounded-start" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="collapse" id="punches">
        @foreach (var item in Model.Punches)
        {
            <div class="card mb-3">
                <div class="row g-0" style="width: 100%; margin: auto;">
                    <div class="col-7 col-md-9" style="position: relative">
                        <div class="card-body">
                            <div class="d-flex flex-column justify-content-between item-price">
                                <h6 class="card-title">@item.Name</h6>
                                <h6 class="card-title">@item.Price</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 col-md-3 image-container">
                        <img src="https://tse4.mm.bing.net/th?id=OIG2.UPHt2djgtahPZRLMAK26&pid=ImgGn" class="img-fluid rounded-start" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="collapse" id="smothies">
        @foreach (var item in Model.Smothies)
        {
            <div class="card mb-3">
                <div class="row g-0" style="width: 100%; margin: auto;">
                    <div class="col-7 col-md-9" style="position: relative">
                        <div class="card-body">
                            <div class="d-flex flex-column justify-content-between item-price">
                                <h6 class="card-title">@item.Name</h6>
                                <h6 class="card-title">@item.Price</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 col-md-3 image-container">
                        <img src="https://tse4.mm.bing.net/th?id=OIG2.UPHt2djgtahPZRLMAK26&pid=ImgGn" class="img-fluid rounded-start" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>


